.site-layout-background {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 13px 0 rgba(228, 228, 228, 0.6);
}

[data-theme="dark"] .site-layout-background {
    background: #141414;
}